<div id="ask-bonus-label" class="ask-bonus-label">
  {% render 'icon', icon: 'permission-bi-lightning' %}
  <span>+500 ASK Bonus Earned!</span>
</div>
<style>
  .ask-bonus-label {
    background: #FFC700;
    border-radius: 5px;
    height: 43px;
    padding: 0 14px;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
  }
  .ask-bonus-label {
    font-weight: 700;
  }

  .ask-bonus-label svg path {
    fill: white;
  }
  .ask-bonus-label svg {
      width: 16px;
      height: 20px;
      margin-right: 8px;
    }
</style>