<div class="rebate-div">20% back on ASK Purchases</div>
<style>
.rebate-div {
  font-family: "Poppins";
  clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 10px 100%, 0% 50%);
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  padding: 7px 12px;
  color: #05AFF2;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.07em;
  text-align: left;
  width: fit-content;
}
</style>