<div class="rebate-div">20% back on ASK Purchases</div>
<style>
  .rebate-div {
    margin-bottom: 22px;
    font-family: var(--heading-font-family);
    clip-path: polygon(14px 0%, 100% 0%, 100% 100%, 14px 100%, 0% 50%);
    background: #05AFF2;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    padding: 7px 12px;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.07em;
    text-align: center;
  }
</style>