
  <section class="section section__permission-text-with-icons" data-section-id="{{ section.id }}" data-section-type="text-with-icons ">

    <div class="container container--flush">
          <!-- GPT AdSlot 1 for Ad unit 'Permission_IO' ### Size: [[728,90]] -->
    <div id='div-gpt-ad-Home-ATF'>
      <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-Home-ATF');

          if (typeof(pubwise) != 'undefined' && pubwise.enabled === true) {
            pwpbjs.que.push(function () {
              console.log("registering lazy load");
              pwRegisterLazyLoad(gptadslots['div-gpt-ad-Home-ATF'],2, [10,0,10,0], 0, 800, 2);
            });
          }else{
            googletag.pubads().refresh([gptadslots['div-gpt-ad-Home-ATF']])
          }
      	});	
      </script>
    </div>
    <!-- End AdSlot 1 -->
      <div class="text-with-icons permission-text-with-icons{% if section.settings.stack_mobile %}text-with-icons--stacked{% endif %}">
        {%- for block in section.blocks -%}
          <div class="text-with-icons__item" data-block-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
            <div class="text-with-icons__icon-wrapper">
                {%- render 'icon', icon: block.settings.icon, stroke_width: 1.5 -%}
            </div>

            {%- if block.settings.title != blank  -%}
              <div class="text-with-icons__content-wrapper">
                {%- if block.settings.title != blank -%}
                  <p class="text-with-icons__title text--strong">{{ block.settings.title | escape }}</p>
                {%- endif -%}

              </div>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </section>

{% schema %}
{
  "name": "Permission text & icons",
  "max_blocks": 4,
  "settings": [
    {
      "type": "checkbox",
      "id": "stack_mobile",
      "label": "Stack on mobile",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
          {
            "value": "permission-bi-rebate",
            "label": "Permission percent",
            "group": "Permission"
          },
          {
            "value": "permission-bi-cart",
            "label": "Permission cart",
            "group": "Permission"
          },
          {
            "value": "permission-bi-secure-payment",
            "label": "Permission secure payment",
            "group": "Permission"
          },
          {
            "value": "permission-bi-support",
            "label": "Permission support",
            "group": "Permission"
          },
            {
              "value": "bi-add-to-cart",
              "label": "Add to cart",
              "group": "Shop"
            },
            {
              "value": "bi-gift-wrap",
              "label": "Gift wrap",
              "group": "Shop"
            },
            {
              "value": "bi-gift-box",
              "label": "Gift box",
              "group": "Shop"
            },
            {
              "value": "bi-heart",
              "label": "Heart",
              "group": "Shop"
            },
            {
              "value": "bi-ecology",
              "label": "Ecology",
              "group": "Shop"
            },
            {
              "value": "bi-plant",
              "label": "Plant",
              "group": "Shop"
            },
            {
              "value": "bi-shop",
              "label": "Shop",
              "group": "Shop"
            },
            {
              "value": "bi-shop-pin",
              "label": "Shop with pin",
              "group": "Shop"
            },
            {
              "value": "bi-alert",
              "label": "Alert",
              "group": "Communication"
            },
            {
              "value": "bi-chat",
              "label": "Chat",
              "group": "Communication"
            },
            {
              "value": "bi-comment",
              "label": "Comment",
              "group": "Communication"
            },
            {
              "value": "bi-customer-support",
              "label": "Customer support",
              "group": "Communication"
            },
            {
              "value": "bi-email",
              "label": "Email",
              "group": "Communication"
            },
            {
              "value": "bi-network",
              "label": "Network",
              "group": "Communication"
            },
            {
              "value": "bi-newsletter",
              "label": "Newsletter",
              "group": "Communication"
            },
            {
              "value": "bi-love",
              "label": "Love",
              "group": "Communication"
            },
            {
              "value": "bi-phone",
              "label": "Phone",
              "group": "Communication"
            },
            {
              "value": "bi-share",
              "label": "Share",
              "group": "Communication"
            },
            {
              "value": "bi-delivery",
              "label": "Delivery",
              "group": "Delivery"
            },
            {
              "value": "bi-fast-delivery",
              "label": "Fast delivery",
              "group": "Delivery"
            },
            {
              "value": "bi-returns",
              "label": "Returns",
              "group": "Delivery"
            },
            {
              "value": "bi-time",
              "label": "Time",
              "group": "Delivery"
            },
            {
              "value": "bi-secure-payment",
              "label": "Secure payment",
              "group": "Security"
            },
            {
              "value": "bi-mobile-payment",
              "label": "Mobile payment",
              "group": "Security"
            },
            {
              "value": "bi-computer-payment",
              "label": "Computer payment",
              "group": "Security"
            },
            {
              "value": "bi-credit-card",
              "label": "Credit card",
              "group": "Security"
            },
            {
              "value": "bi-shield",
              "label": "Shield",
              "group": "Security"
            },
            {
              "value": "permission-bi-credit-card",
              "label": "Security credit card",
              "group": "Security"
            }
          ],
          "default": "bi-customer-support"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your title"
        }
      ]
    }
  ],
    "presets": [
      {
        "category": "Text",
        "name": "Permission text & icons",
        "settings": {},

        "blocks": [
        {
          "type": "item",
          "settings": {
            "icon": "bi-delivery",
            "title": "Free delivery worldwide"
          }
        },
        {
          "type": "item",
          "settings": {
            "icon": "bi-returns",
            "title": "Satisfied or refunded"
          }
        },
        {
          "type": "item",
          "settings": {
            "icon": "bi-customer-support",
            "title": "Top-notch support"
          }
        }
      ]
    }
  ]
}
{% endschema %}
